clarifai-grpc
streamlit
streamlit-chat
pytest
pydantic
langchain
openai
chroma
playwright
pypdf2
tiktoken
sentence_transformers
selenium
selenium-wire
nltk
unstructured
python-dotenv
loguru
transformers